ul.nav.yellow-3 > li > a.active {
    color: #e93e21;
}
ul.nav.yellow-3 > li > a.active:hover {
    color: #e93e21;
}
.navbar-default.yellow-3 .navbar-nav > li > a:focus, .navbar-default.yellow-3 .navbar-nav > li > a:hover {
    color: #e93e21;
}
.ms-layer.text28 {
    color: #e93e21;
}
.ms-layer.sbut11.yellow-3 {
    background-color: #e93e21;
}
.btn.btn-yellow {
    background-color: #e93e21;
}
a.read-more.yellow-3 {
    color: #e93e21;
}
.text-yellow-3 {
    color: #e93e21;
}
.btn.btn-yellow-3 {
    background-color: #e93e21;
}
.feature-box57 {
    background-color: #e93e21;
}
.feature-box57 form select {
    border: 1px solid #e93e21;
}
.feature-box57 .input {
    border: 1px solid #e93e21;
}
.social-icons-3.yellow-3 li a:hover, .social-icons-3.yellow-3 li a.active {
    background-color: #e93e21;
    border: 1px solid #e93e21;
}
.usefull-links.yellow li i {
    color: #e93e21;
}
.scrollup.yellow-3 {
    background-color: #e93e21;
}
.progressbar-style1 .progress-bar.yellow-3 {
    background-color: #e93e21;
}
.section-yellow-3 {
    background-color: #e93e21;
}
.smart-forms .btn-primary.yellow-3 {
    background-color: #e93e21;
}