ul.nav > li > a.active {
    color: #fd602c;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fd602c;
}
ul.nav>li>a:hover.active {
	color:#fd602c;
}
.ms-layer.sbut5 {
    background-color: #fd602c;
}
.feature-box1:hover .iconbox-tiny, .feature-box1.active .iconbox-tiny {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
a.read-more {
    color: #fd602c;
}
.text-orange-2 {
    color: #fd602c;
}
.btn.btn-orange-2 {
    background-color: #fd602c;
}
.iconlist li i {
    color: #fd602c;
}
.btn.btn-border.orange-2 {
    border-color: #fd602c;
    color: #fd602c;
}
.btn.btn-border:hover.orange-2 {
	background-color:#fd602c;
	border-color:#fd602c;
}
.team-name-holder.bgcolor {
    background-color: #fd602c;
}
.social-icons-1 li a:hover, .social-icons-1 li a.active {
    color: #fd602c;
}
.pricetable-holder.active .title {
    background-color: #fd602c;
}
.post-date-box {
    background-color: #fd602c;
}
.post-date-box .arrow-down {
    border-top: 20px solid #fd602c;
}
.blog-post-info span.green {
    color: #fd602c;
}

.usefull-links li i {
    color: #fd602c;
}
.footer-tags li a:hover, .footer-tags li a.active {
    border: 1px solid #fd602c;
    color: #fd602c;
}
.scrollup {
    background-color: #fd602c;
}
.social-icons-3 li a:hover, .social-icons-3 li a.active {
    background-color: #fd602c;
}
.social-icons-3 li a {
    color: #fd602c;
}
a.topbar-btn:hover, a.topbar-btn.active {
    background-color: #fd602c;
}
.slide-controls-color-13 .owl-theme .owl-controls .owl-page span {
    background: #fd602c none repeat scroll 0 0;
}
.feature-box3:hover .iconbox-xlarge, .feature-box3.active .iconbox-xlarge {
    background-color: #fd602c;
}
.feature-box3 .iconbox-xlarge {
    color: #fd602c;
}
.ms-layer.sbut4 {
    background-color: #fd602c;
}
.digit {
    background-color: #fd602c;
}
.tabs1 li.active a {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.tabs1 li a:hover {
    color: #fd602c;
}
.iconlist.orange li i {
    color: #fd602c;
}
.feature-box4 .iconbox-xtiny {
    background-color: #fd602c;
}
.feature-box4:hover h5 {
    color: #fd602c;
}
.team-holder2 .img-holder .icon-box {
    background-color: #fd602c;
}
.feature-box5:hover h4, .feature-box5:hover .icon-plain-msmall, .feature-box5.active h4, .feature-box5.active .icon-plain-msmall {
    color: #fd602c;
}
.tabs2 li.active a {
    background-color: #fd602c;
    border-right: 1px solid #fd602c;
}
.tabs2 li a:hover {
    background-color: #fd602c;
}
.usefull-links.orange li i {
    color: #fd602c;
}
.newsletter .input_submit {
    background-color: #fd602c;

}
.social-icons-3.orange li a:hover {
    background-color: #fd602c;
}
.scrollup.orange {
    background-color: #fd602c;
}
.scrollup.orange2 {
    background-color: #fd602c;
}
.scrollup.violet {
   background-color: #fd602c;
}
ul.nav.orange2 > li > a.active {
    color: #fd602c;
}
ul.nav.orange2 > li > a.active:hover {
    color: #fd602c;
}
.navbar-default.orange2 .navbar-nav > li > a:focus, .navbar-default.orange2 .navbar-nav > li > a:hover {
    color: #fd602c;
}
.ms-layer.sbut5.orange {
    background-color: #fd602c;
}
.tabs li.active a {
    background-color: #fd602c;
}
.iconlist.orange2 li i {
    color: #fd602c;
}
.section-orange-2 {
    background-color: #fd602c;
}
.testimonials-holder.two:hover, .testimonials-holder.two.active {
    background-color: #fd602c;
}
.contact-info-holder:hover .iconbox-xmedium, .contact-info-holder.active .iconbox-xmedium {
    background-color: #fd602c;
}
.contact-info-holder .iconbox-xmedium {
    color: #fd602c;
}
.socialicon-holder .social-icons-3 li a:hover, .socialicon-holder .social-icons-3 li a.active {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.btn.btn-orange-2.dark {
    background-color: #fd602c;
}
.feature-box7:hover, .feature-box7.active {
    background-color: #fd602c;
}
.feature-box8:hover .iconbox-small, .feature-box8.active .iconbox-small {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.feature-box8:hover h4, .feature-box8.active h4 {
    color: #fd602c;
}
.feature-box8 .iconbox-small {
    color: #fd602c;
}
.smk_accordion .accordion_in.st2.acc_active > .acc_head {
    color: #fd602c;
}
.progressbar-style1 .progress-bar {
    background-color: #fd602c;
}
.testimonials2 .imgholder {
    background-color: #fd602c;
}
.team-holder3 .social-icons-3 li a:hover, .team-holder3 .social-icons-3 li a.active {
    background-color: #fd602c;
}
.post-date-box.violet {
    background-color: #fd602c;
}
.newsletter .input_submit.violet {
    background-color: #fd602c;
}
.usefull-links.violet li i {
    color: #fd602c;
}
.section-green {
    background-color: #fd602c;
}
.feature-box9:hover .iconbox-xlarge, .feature-box9.active .iconbox-xlarge {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.feature-box9 .iconbox-xlarge {
    color: #fd602c;
}
.feature-box9:hover h3, .feature-box9.active h3 {
    color: #fd602c;
}
.iconlist.green2 li i {
    color: #fd602c;
}
.blog-holder2 .post-date-box {
    background-color: #fd602c;
}
.testimonials3:hover .img-holder, .testimonials3.active .img-holder {
    background-color: #fd602c;
}
.testimonials3:hover .arrow-down, .testimonials3.active .arrow-down {
    border-top: 20px solid #fd602c;
}
.ms-layer.text59 {
    background-color: #fd602c;
}
.ms-layer.sbut2:hover {
    background-color: #fd602c;
    color: #fff;
}
.title-line-8 {
    background-color: #fd602c;
}
.feature-box10:hover, .feature-box10.active {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.feature-box11 .iconbox-xtiny {
    background-color: #fd602c;
}
.post-infoicon {
    background-color: #fd602c;
}
.tabs3 li.active a {
    background-color: #fd602c;
    border-right: 1px solid #fd602c;
}
.tabs3 li a:hover {
    background-color: #fd602c;
}
.testimonials5 .social-icons-2 li a:hover, .testimonials5 .social-icons-2 li a.active {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.topbar-middle-logo {
    background-color: #fd602c;
}
.ms-layer.offerbadge.orange-2 {
    background-color: #fd602c;
}
.ms-layer.text62 span {
    color: #fd602c;
}
.feature-box12:hover .iconbox-small, .feature-box12.active .iconbox-small {
    background-color: #fd602c;
}
.feature-box12:hover .read-more.white, .feature-box12.active .read-more.white {
    color: #fd602c;
}
.feature-box13:hover .iconbox-medium, .feature-box13.active .iconbox-medium {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
a.read-more.dark:hover {
    color: #fd602c;
}
.feature-box14 .digit {
    background-color: #fd602c;
}
.team-holder4:hover .icon-holder, .team-holder4.active .icon-holder {
    background-color: #fd602c;
}
.team-holder4:hover h5, .team-holder4.active h5 {
    color: #fd602c;
}
.pricetable-holder2 th .title-header.active {
    background-color: #fd602c;
}
.feature-box15:hover, .feature-box15.active {
    background-color: #fd602c;
}
.feature-box15 {
    border: 1px solid #fd602c;
}
.feature-box16:hover .iconbox-smedium, .feature-box16.active .iconbox-smedium {
    background-color: #fd602c;
}
.feature-box16:hover h4, .feature-box16.active h4 {
    color: #fd602c;
}
.social-icons-2 li a {
    background-color: #fd602c;
}
.pricetable-holder3:hover .inner-holder, .pricetable-holder3.active .inner-holder {
    background-color: #fd602c;
}
.pricetable-holder3:hover, .pricetable-holder3.active {
    border: 1px solid #fd602c;
}
.feature-box17:hover, .feature-box17.active {
    background-color: #fd602c;
}
.feature-box19 .iconbox-small {
    color: #fd602c;
}
.feature-box19:hover .iconbox-small, .feature-box19.active .iconbox-small {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.feature-box19:hover h4, .feature-box19.active h4 {
    color: #fd602c;
}
.feature-box5.two:hover, .feature-box5.two.active {
    background-color: #fd602c;
}
.feature-box5.two:hover .arrow-down, .feature-box5.two.active .arrow-down {
    border-top: 20px solid #fd602c;
}
.feature-box20:hover .iconbox-tiny, .feature-box20.active .iconbox-tiny {
    background-color: #fd602c;
}
.feature-box22 .iconbox-xlarge .inner-box {
    background-color: #fd602c;
}
.feature-box23:hover, .feature-box23.active {
    background-color: #fd602c;
}
.btn.appstore.orange {
    background-color: #fd602c;
}
.btn.appstore.white:hover {
    background-color: #fd602c;
}
.personal-info.orange-2 li {
    color: #fd602c;
}
.category-links.orange-2 li a:hover, .category-links.orange-2 li a.active {
    color: #fd602c;
}
.sidebar-posts:hover h6, .sidebar-posts.active h6 {
    color: #fd602c;
}
.tags-2 li a:hover, .tags-2 li a.active {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.btn.btn-green-4 {
    background-color: #fd602c;
}
.tabs15 li.active a {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.tabs15 li a:hover {
    color: #fd602c;
}
ul.sitemap li a {
    color: #fd602c;
}
.error-search-box .input_submit {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
.cbp-l-filters-button.three .cbp-filter-item.cbp-filter-item-active {
    color: #fd602c;
}
.cbp-l-filters-button.two .cbp-filter-item.cbp-filter-item-active {
    border-color:#fd602c;
}
.cbp-l-filters-button.two .cbp-filter-item:hover {
    color: #fd602c;
}
.cbp-l-filters-button.two .cbp-filter-counter {
    background-color: #fd602c;
}

.cbp-l-filters-button.two .cbp-filter-counter::before {
    border-top: 4px solid #fd602c;
}
.blog-holder-12 .image-holder .overlay .icon {
    background-color: #fd602c;
}
.blog-pagenation li a:hover, .blog-pagenation li a.active {
    background-color: #fd602c;
    border: 1px solid #fd602c;
}
a.loadmore-but.orange-2 {
    background-color: #fd602c;
}
.smart-forms .btn-primary.orange-2 {
    background-color: #fd602c;
}



/*rgba color*/

.team-holder3 .img-holder .overlay {
    background-color: rgba(253, 96, 44, 0.9);
}
.section-overlay.orange-2 {
    background-color: rgba(253, 96, 44, 0.9);
}

.pricetable-holder .arrow {
    background: url(../../images/colors/default/site-img07.png);
}
.pricetable-holder .arrow.two {
    background: url(../../images/colors/default/site-img08.png);
}
