.topbar.pink-2 {
    background-color: #f51f6f;
}
ul.nav.pink > li > a.active {
    color: #f51f6f;
}
ul.nav.pink > li > a.active:hover {
    color: #f51f6f;
}
.navbar-default.pink .navbar-nav > li > a:focus, .navbar-default.pink .navbar-nav > li > a:hover {
    color: #f51f6f;
}
.ms-layer.sbut11.pink {
    background-color: #f51f6f;
}
.title-line-4.pink {
    background-color: #f51f6f;
}
.btn.btn-border.pink {
    border-color: #f51f6f;
    color: #f51f6f;
}
.btn.btn-pink {
    background-color: #f51f6f;
}
.btn.btn-border.pink:hover {
    background-color: #f51f6f;
    border-color: #f51f6f;
}
.iconlist.pink li i {
    color: #f51f6f;
}
.text-pink {
    color: #f51f6f;
}
.section-pink {
    background-color: #f51f6f;
}
.usefull-links.yellow li i {
    color: #f51f6f;
}
.scrollup.pink {
    background-color: #f51f6f;
}
.team-holder12.three .image-holder .hover-box {
    background-color: #f51f6f;
}
.smart-forms .btn-primary.pink {
    background-color: #f51f6f;
}