ul.nav.orange > li > a.active {
    color: #573398;
}
ul.nav.orange > li > a.active:hover {
    color: #573398;
}
.navbar-default.orange .navbar-nav > li > a:focus, .navbar-default.orange .navbar-nav > li > a:hover {
    color: #573398;
}
.title-line-7 {
    background-color: #573398;
}
.title-line-4.orange-3 {
    background-color: #573398;
}
.slide-controls-color-3 .owl-theme .owl-controls .owl-page span {
    background-color: #573398;
}
.btn.btn-orange-3 {
    background-color: #573398;
}
.feature-box62 .post-date-box {
    background-color: #573398;
}
.small-line-2 {
    background-color: #573398;
}
.usefull-links.yellow li i {
    color: #573398;
}
.scrollup.orange-3 {
    background-color: #573398;
}
.section-orange-3 {
    background-color: #573398;
}
.team-holder12.two .image-holder .hover-box {
    background-color: #573398;
}
.smart-forms .btn-primary.orange-3 {
    background-color: #573398;
}