ul.nav.stone > li > a.active {
    color: #37c6f5;
}
ul.nav.stone > li > a.active:hover {
    color: #37c6f5;
}
.navbar-default.stone .navbar-nav > li > a:focus, .navbar-default.stone .navbar-nav > li > a:hover {
    color: #37c6f5;
}
.ms-layer.sbut14 {
    background-color: #37c6f5;
}
.feature-box-67 .iconbox-xtiny {
    border: 1px solid #37c6f5;
    color: #37c6f5;
}
.title-line-4.stone {
    background-color: #37c6f5;
}
.btn.btn-border.stone {
    border-color: #37c6f5;
    color: #37c6f5;
}
.btn.btn-border.stone:hover {
    background-color: #37c6f5;
    border-color: #37c6f5;
}
a.read-more.stone {
    color: #37c6f5;
}
.slide-controls-color-5 .owl-theme .owl-controls .owl-page span {
    background-color: #37c6f5;
}
.parallax-section49 .title-2 {
    color: #37c6f5;
}
.text-stone {
    color: #37c6f5;
}

.team-holder14 .image-holder .hover-box {
    background-color: #37c6f5;
}
.section-light-stone {
    background-color: #f6f6f6;
}

.tabs12 li a:hover {
    background-color: #37c6f5;
}
.tabs12 li.active a {
    background-color: #37c6f5;
    border-right: 1px solid #37c6f5;
}
.feature-box68 .image-holder .post-date-box.stone {
    background-color: #37c6f5;
}
.smart-forms .btn-primary.stone {
    background-color: #37c6f5;
}
.scrollup.stone {
    background-color: #37c6f5;
}
.cbp-l-filters-button.style-5 .cbp-filter-item.cbp-filter-item-active {
    background-color: #37c6f5;
    border-color: #37c6f5;
}
.cbp-l-filters-button.style-5 .cbp-filter-item {
    border: 1px solid #37c6f5;
    color: #37c6f5;
}
.cbp-l-filters-button.style-5 .cbp-filter-counter::before {
    border-top: 4px solid #37c6f5;
}
.cbp-l-filters-button.style-5 .cbp-filter-counter {
    background-color: #37c6f5;
}
.iconlist.stone li a {
    color: #37c6f5;
}
.iconlist.stone li i {
    color: #37c6f5;
}
.smart-forms .btn-primary.stone-2 {
    background-color: #37c6f5;
}
.usefull-links.stone li i {
    color: #37c6f5;
}


/*rgba*/
.section-overlay.stone {
    background-color: rgba(55, 198, 245, 0.8);
}


















