ul.nav.red-2 > li > a.active {
    color: #a5d549;
}
ul.nav.red-2 > li > a.active:hover {
    color: #a5d549;
}
.navbar-default.red-2 .navbar-nav > li > a:focus, .navbar-default.red-2 .navbar-nav > li > a:hover {
    color: #a5d549;
}
.btn.btn-red {
    background-color: #a5d549;
}
.ms-layer.offer-badge {
    background-color: #a5d549;
}
.scrollup.red-4 {
    background-color: #a5d549;
}
.shop-product-holder .image-holder .hoverbox {
    background-color: #a5d549;
}
.text-red-4 {
    color: #a5d549;
}
.btn.btn-red-4 {
    background-color: #a5d549;
}
.email_submit.two {
    background-color: #a5d549;
    border: 1px solid #a5d549;
}
.category-links.red-4 li a:hover, .category-links.red-4 li a.active {
    color: #a5d549;
}
.blog1-sidebar-posts.red-4 .post-info i {
    color: #a5d549;
}
.shop-tags li a {
    background-color: #a5d549;
}
.text-red-3 {
    color: #a5d549;
}
.slide-controls-color-6 .owl-theme .owl-controls .owl-page span {
    background-color: #a5d549;
}
.divider-line.red-4 {
    border-bottom-color: #a5d549;
}
.smart-forms .btn-primary.red-4 {
    background-color: #a5d549;
}