ul.nav.green-4 > li > a.active {
    color: #adb218;
}
ul.nav.green-4 > li > a.active:hover {
    color: #adb218;
}
.navbar-default.green-4 .navbar-nav > li > a:focus, .navbar-default.green-4 .navbar-nav > li > a:hover {
    color: #adb218;
}
.ms-layer.text75 i {
    color: #adb218;
}
.ms-layer.offerbadge {
    background-color: #adb218;
}
.ms-layer.sbut22 {
    background-color: #adb218;
}
.section-green-4 {
    background-color: #adb218;
}
.domain-search-home #domain-searchform #dsearch {
    background-color: #adb218;
}
.domain-search-home .drlist {
    border: 1px solid #adb218;
}
.domain-search-home #search-submit {
    color: #adb218;
}
.scrollup.green-4 {
    background-color: #adb218;
}
.text-green-4 {
    color: #adb218;
}
.divider-line.green-4 {
    border-bottom-color: #adb218;
}
.feature-box-92:hover .iconbox-small, .feature-box-92:hover .iconbox-tiny, .feature-box-92.active .iconbox-small, .feature-box-92.active .iconbox-tiny {
    background-color: #adb218;
    border: 1px solid #adb218;
}
.feature-box-92 .iconbox-small {
    color: #adb218;
}
.feature-box-92:hover .title, .feature-box-92.active .title {
    color: #adb218;
}
.iconlist.green-4 li i {
    color: #adb218;
}
.btn.btn-border.green-4 {
    border-color: #adb218;
    color: #adb218;
}
.btn.btn-border.green-4:hover {
    background-color: #adb218;
    border-color: #adb218;
}
.btn.btn-border.light.green-4:hover {
    background-color: #adb218;
    border-color: #adb218;
}
.feature-box-93 .price-badge {
    background-color: #adb218;
}
.pricetable-holder5.active {
    background-color: #adb218;
}
.pricetable-active-bg-strip {
    background-color: #adb218;
}
.btn.btn-green-4 {
    background-color: #adb218;
}
.tabs14 li.active a {
    color: #adb218;
}
.tabs14 li a:hover {
    color: #adb218;
}
.title-line-4.green-4 {
    background-color: #adb218;
}

.feature-box-94 .image-holder .circle {
    background-color: #adb218;
}
.feature-box-94 .image-holder .circle .arrow-down {
    border-top: 20px solid #adb218;
}
.pricetable-holder6.active {
    background-color: #adb218;
}
.slide-controls-color-12 .owl-theme .owl-controls .owl-page span {
    background-color: #adb218;
}
.newsletter .input_submit.green-4 {
    background-color: #adb218;
}
#domain-search-holder #searchsubmit {
    background-color: #adb218;
}
.tld-step-box {
    background-color: #adb218;
}
.parallax-section65 .iconbox-large {
    background-color: #adb218;
}
.feature-box-100 {
    background-color: #adb218;
}
#search-topic #searchsubmit {
    background-color: #adb218;
}
.smart-forms .btn-primary.green-4 {
    background-color: #adb218;
}


/*rgba color*/
.feature-box-95 {
    background-color: rgba(173, 178, 24, 0.8);
}
.pricetable-holder6.active .features-list li:nth-child(2n) {
    background-color: #9ea314;
}
